PORT=4000
JWT_SECRET="ADDSECRETKEYHERE"
MONGODB_URI="ADDMONGODBURIHERE"
  
SMTP_USER=pszankat46@gmail.com
SMTP_PASSWORD=iqbnzcvehggislnf
SMTP_HOST=smtp.gmail.com           # or your SMTP server
SMTP_PORT=465   

# ENV = "production" 
ENV = "DEV" 